<footer>
    <div class="container"> 
        <span> Desarrollado por Matías Zelarayán </span>
      <span class="container2">
        <a href="https://www.linkedin.com/in/matiaszelarayan22/">
          <img class="redes" src="../../assets/linkedin.png" alt="linkedin">
      </a>
      <a href="https://www.instagram.com/matiaszelarayan22/">
           <img class="redes" src="../../assets/instagram.png" alt="instagram">
      </a>   
      <a href="https://github.com/R-Mutt22?tab=repositories">
           <img class="redes" src="../../assets/github-sign.png" alt="github">
           </a>
      </span>
     </div>
    </footer>