<body>
  <app-header></app-header>
    <img class="banner" src="../assets/Generic-Banner-07-Web-App-Developer.png">
    <div class="nombre">
      <h1> Matías Zelarayán</h1>
      <h3>Desarrolador web</h3>
    </div>
     <img class="perfil-container" src="../assets/Sin título.png">
    <div class="info">
    <p>Tucumán, 1987</p>
    
    <h5>Formación</h5>
    <button type="button" (click)="openLogin()">Editar</button>
    
    <div *ngIf="abrirLog == true">
      <app-modal (closeModal)="cerrarModal()" (loginModal)="logOk()"></app-modal>
    </div>
    <div *ngIf="logged == false">
      <app-formacion></app-formacion>
  </div>
  <div *ngIf="logged == true">
      <app-formacion-editable></app-formacion-editable>
  </div>
 
  <router-outlet></router-outlet>
    <h5>Experiencia laboral</h5>
    <p>Feria ArteCo de Corrientes</p>
    <p>Casa de Piedra Residencia de Artistas</p>
    <h5>Habilidades</h5>
    <p>Editor</p>
    <p>Diseño Grafico</p>
    <p>Community manager</p>
    <p>marketing digital</p>
  </div>

  <app-footer></app-footer>
</body>